.detailsNavButton {
	width: 100%;
	padding-block: 18px;
	text-align: center;
	background: var(--bgSecondary);
	font-size: 20px;
	font-weight: 700;
	border: 1px solid var(--borderPrimary);
	border-radius: 40px;
	line-height: 100%;
	transition: all 0.3s ease;
}

.detailsNavButton:hover,
.detailsNavButton:focus {
	background: var(--buttonPrimary);
	color: var(--textSecondary);
}

.detailsNavIcon {
	position: relative;
	left: 10px;
}

@media (max-width: 599px) {
	.detailsNavButton {
		font-size: 16px;
	}
}