.cta {
	position: relative;
	z-index: 10;
	padding-top: 352px;
}

.inner {}

.content {
	padding-block: 50px;
	text-align: center;
	background: var(--bgPrimary);
	border-radius: 20px;
}

.contentInner {}

.text {
	font-weight: 700;
	line-height: 150%;
}

.button {
	max-width: 556px;
	margin-inline: auto;
	margin-top: 30px;
}

.buttonLink {
	position: relative;
	width: 100%;
	padding-block: 27px;
	width: 100%;
	background: var(--buttonSecondary);
	line-height: 100%;
	font-weight: 700;
	transition: all 0.3s ease;
}

.buttonLink:hover,
.buttonLink:focus {
	background: var(--bgTertiary);
	color: var(--textSecondary);
}

.icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	font-size: 22px;
}

.imageWrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 488px;
	z-index: -1;
}

.image {
	height: 488px;
	object-fit: cover;
}

@media (max-width: 599px) {

	.cta {
		padding-top: 132px;
	}

	.content {
		padding: 24px 20px 29px;
	}

	.text {
		font-size: 14px;
		line-height: 250%;
	}

	.button {
		max-width: 200px;
	}

	.buttonLink {
		padding-block: 24px;
		font-size: 14px;
	}

	.imageWrap {
		height: 250px;
	}

	.image {
		height: 250px;
	}
}