.fvTop {
	position: relative;
	height: 823px;
}

.inner {
	height: 823px;
}

.content {
	z-index: 10;
}

.head {}

.heading2 {
	position: absolute;
	top: 286px;
	left: clamp(0.75rem, -0.438rem + 5.07vw, 4.125rem);
	font-size: clamp(3rem, 1.944rem + 4.51vw, 6rem);
	font-family: var(--fontViga);
	line-height: 120%;
	z-index: 10;
	color: var(--textSecondary);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subTitle {
	position: absolute;
	bottom: 163px;
	left: 0;
	z-index: 10;
	width: fit-content;
	padding: 17px 66px;
	font-size: clamp(0.75rem, 0.486rem + 1.13vw, 1.5rem);
	line-height: 100%;
	background: var(--bgTertiary);
	color: var(--textSecondary);
	clip-path: polygon(0% 0, 100% 0%, 94% 100%, 0% 100%);
}

@media (max-width: 599px) {

	.fvTop {
		position: relative;
		height: 667px;
	}

	.inner {
		height: inherit;
	}

	.heading2 {
		top: auto;
		bottom: 137px;
	}

	.subTitle {
		bottom: 89px;
		padding: 9px 24px 9px 12px;
	}
}