.staff {
	position: relative;
	margin-top: 163px;
}

.inner {}

.head {
	padding-left: 242px;
}

.heading2 {
	position: relative;
}

.en {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -160px;
	font-size: 136px;
	font-family: var(--fontPoppins);
	color: var(--textQuaternary);
	line-height: 100%;
}

.staffEn {
	left: -160px;
	transform: translateY(-50%) translateX(0);
}

.ja {
	font-size: 52px;
	font-weight: 700;
	line-height: 100%;
}

.subText {
	margin-top: 52px;
	line-height: 150%;
}

.slider {
	margin-top: 52px;
	padding-left: clamp(1.25rem, -28.404rem + 48.37vw, 15.125rem);
}

.slide:nth-child(even) {
	margin-top: 30px;
}

.card {
	display: flex;
	flex-direction: column-reverse;
}

.body {
	margin-top: -50px;
	display: flex;
	flex-direction: column-reverse;
}

.bodyHead {
	margin-top: 16px;
	display: flex;
	flex-direction: column-reverse;
	font-weight: 700;
}

.heading3 {
	margin-top: 16px;
	font-size: 24px;
	line-height: 100%;
}

.wrap {
	display: flex;
	gap: 9px;
}

.position,
.entry {
	line-height: 100%;
}

.entry {}

.heading4 {
	display: flex;
	flex-direction: column;
	gap: 6px;
	font-size: 20px;
	font-weight: 700;
}

.heading4Top,
.heading4Bottom {
	width: fit-content;
	padding-block: 5px;
	background: var(--bgQuaternary);
	line-height: 100%;
	white-space: nowrap;
}

.heading4Bottom {}

.button {
	margin-top: 80px;
	max-width: 355px;
	width: 100%;
	margin-inline: auto;
}

.arrows {
	position: absolute;
	bottom: -150px;
	right: clamp(1.25rem, -26.401rem + 45.1vw, 14.188rem);
	width: 136px;
	display: flex;
	justify-content: space-between;
	z-index: 10;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 58px;
	height: 58px;
	border: 1px solid var(--borderPrimary);
	border-radius: 100vmax;
	background: transparent;
	cursor: pointer;
	color: var(--textPrimary);
	font-size: 24px;
	transition: background-color 0.3s;
}

.arrow:hover {
	background: rgba(0, 0, 0, 0.05);
}

.prev svg,
.next svg {
	width: 22px;
}

.prev svg {
	transform: rotate(180deg);
}

@media (max-width: 960px) {

	.button {
		margin-top: 170px;
	}

	.arrows {
		bottom: -120px;
		left: 50%;
		transform: translateX(-50%);
		width: 170px;
	}

	.head {
		padding-left: 20px;
	}

	.ja {
		font-size: clamp(2rem, 1.225rem + 3.31vw, 3.25rem);
	}

	.en {
		font-size: clamp(5rem, 2.831rem + 9.26vw, 8.5rem);
	}

	.staffEn {
		left: 0;
	}
}

@media (max-width: 768px) {

	.button {
		margin-top: 150px;
	}

	.arrows {
		bottom: -90px;
	}
}

@media (max-width: 599px) {

	.bodyHead {
		margin-top: 14px;
	}

	.heading3 {
		margin-top: 14px;
		font-size: 20px;
	}

	.wrap {
		font-size: 12px;
	}

	.heading4 {
		font-size: 16px;
	}

	.button {
		margin-top: 64px;
	}

	.arrows {
		display: none;
	}

	.staff {
		margin-top: 95px;
	}

	.subText {
		margin-top: 43px;
	}

	.button {
		max-width: 277px;
	}
}