.business {
	margin-top: 111px;
}

.inner {}

.head {}

.heading2 {
	font-size: 32px;
	font-weight: 700;
	line-height: 100%;
}

.headText {
	margin-top: 44px;
}

.content {
	margin-top: 82px;
}

.boxes {
	display: flex;
	flex-direction: column;
	gap: 49px;
	max-width: 960px;
	width: 100%;
	margin-inline: auto;
}

.box {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	padding-bottom: 49px;
}

.box:last-child {
	padding-bottom: 0;
}

.box:not(:last-child)::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 1024px;
	height: 1px;
	background: var(--bgQuaternary);
}

.body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: clamp(1.5rem, 1.148rem + 1.5vw, 2.5rem);
	max-width: calc((456 / 960) * 100%);
	width: 100%;
}

.heading3 {
	font-size: clamp(1.375rem, 1.155rem + 0.94vw, 2rem);
	font-weight: 700;
	color: var(--textTertiary);
}

.subTitle {
	font-size: clamp(1.125rem, 0.993rem + 0.56vw, 1.5rem);
	font-weight: 700;
	line-height: 150%;
}

.textWrap {}

.text {}

.imageWrap {
	max-width: calc((457 / 960) * 100%);
	width: 100%;
}

@media (max-width: 1024px) {

	.box:not(:last-child)::before {
		width: 100%;
	}
}

@media (max-width: 599px) {

	.business {
		margin-top: 86px;
	}

	.head {
		text-align: center;
	}

	.boxes {
		gap: 40px;
	}

	.heading2 {
		font-size: 26px;
	}

	.box {
		padding-bottom: 28px;
		flex-direction: column;
		gap: 24px;
	}

	.body {
		max-width: 100%;
	}

	.heading3 {}

	.subTitle {
		font-size: 18px;
	}

	.text {
		font-size: 14px;
	}

	.imageWrap {
		max-width: 100%;
	}
}