.heading2 {
	position: relative;
}

.titleWrap {
}

.en {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	font-size: clamp(5rem, 3.768rem + 5.26vw, 8.5rem);
	font-family: var(--fontPoppins);
	color: var(--textQuaternary);
	line-height: 100%;
}

.ja {
	font-size: 52px;
	font-weight: 700;
	line-height: 100%;
}

.span {
	text-decoration: underline;
	text-underline-offset: 8px;
}

.subText {
	margin-top: 52px;
	line-height: 150%;
}

@media (max-width: 960px) {
	.ja {
		font-size: clamp(2rem, 1.225rem + 3.31vw, 3.25rem);
	}

	.en {
		left: 50%;
		font-size: clamp(5rem, 2.831rem + 9.26vw, 8.5rem);
	}

	.subText {
		margin-top: 43px;
	}
}

@media (max-width: 599px) {

	.ja {
		text-align-last: left;
	}

	.subText {
		text-align-last: left;
	}
}