.important {
	margin-top: 66px;
}

.inner {}

.head {
	text-align: center;
}

.heading2 {
	font-size: 32px;
	font-weight: 700;
	line-height: 100%;
}

.content {
	margin-top: 86px;
}

.boxes {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.box {
	padding: 30px calc((80 / 980) * 100%);
	background: var(--bgSecondary);
	border-radius: 10px;
}

.boxHead {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: flex-end;
	gap: 20px;
}

.heading3 {
	width: calc(100% - 48px);
	font-size: 20px;
	font-weight: 700;
}

.number {
	position: relative;
	width: 48px;
	height: 48px;
	font-size: 18px;
	line-height: 100%;
	vertical-align: middle;
	border: 1px solid var(--borderPrimary);
	border-radius: 100vmax;
}

.spanText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.boxBody {
	margin-top: 21px;
}

.textWrap {}

.text {}

@media (max-width: 599px) {

	.important {
		margin-top: 54px;
	}

	.content {
		margin-top: 64px;
	}

	.heading2 {
		font-size: 26px;
	}

	.box {
		padding-inline: 20px;
	}

	.boxHead {
		gap: 12px;
	}

	.heading3 {
		font-size: 18px;
		width: calc(100% - 38px);
	}

	.number {
		width: 38px;
		height: 38px;
	}

	.spanText {
		font-size: 14px;
	}

	.boxBody {
		margin-top: 18px;
	}

	.text {
		font-size: 14px;
	}
}